:root {
    --background-color: #0e0e0e;
    --secondary-color: #121212;
    --hover-color: #1A1A1A;
    --second-hover-color: #262626;
    --accent-color: #0456ee;
    --primary-text: #ffffff;
    --secondary-text: #9ca3af;
    --accent-text: #55fff5;
}

.links-container {
    width: 100%;
    top: 20vh;

    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.link-box {
    background-color: var(--secondary-color);
    width: 50vw;
    max-width: 40vw;
    min-width: 350px;
    margin: 1vh;
}
.link-box ul {
    position: relative;
    display: flex;
    justify-content: space-between;
    list-style: none;
    height: 5rem;
    align-items: center;
}
.link-box li {
    position: relative;
    display: flex;

    z-index: 1;
}


.link-name {
    font-size: 140%;
    color: var(--primary-text);
    display: flex;
    position: relative;
    margin-left: 0.7rem;


    z-index: 1;
    
}

.visit {
    width: 6vw;
    height: 2rem;
    min-height: 60px;
    min-width: 120px;
    margin-right: 0.7rem;
    background-color: var(--accent-color);
    justify-content: center;
    align-items: center;
    display: flex;
    text-decoration: none;
    cursor: pointer;
}
.visit p {
    display: flex;
    text-align: center;
    color: var(--primary-text);
    font-size: 120%;
}
.vi1 {
    z-index: 40;
}
.vi2 {
    z-index: 30;
}
.vi3 {
    z-index: 20;
}
.vi4 {
    z-index: 10;
}

